**Import library**

In [1]:
import pandas as pd

**Download file**

In [3]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# After executing the cell above, Drive
# files will be present in "/content/drive/My Drive".
!ls "/content/drive/My Drive"

 2021-21_M1C_MPSI-CC2_Vision.pptx
'2021-22_M1C_Etude_de_cas_Enonce (1).gdoc'
 2021-22_M1C_Etude_de_cas_Enonce.gdoc
 2021-22_M1C_Etude_de_cas_Enonce.pdf
 2021-22_M1C_MPSI-CC1_Perimetre.pptx
 2021-22_M1C_MPSI_Enonce_CC2.docx
 Archive.zip
 BurnupIncertainCC2.xlsx
 Burnup_Incertain.pptx
'Colab Notebooks'
 CorrectionDKP.py
'DDD Impact in software development.odt'
'Document sans titre (1).gdoc'
'Document sans titre (2).gdoc'
'Document sans titre.gdoc'
 DonnéePrixCarburant.csv
'English back up exam Rayhane Jebbari.gdoc'
'English back up exam Rayhane Jebbari.pdf'
 Entreprise.gdoc
 exo4.zip
 FSR_front.zip
 FSR.zip
 GRH.gdoc
 laravel_projet.zip
 Mémoire.gdoc
'PESTEL RayhaneJEBBARI (1).pdf'
'PESTEL RayhaneJEBBARI.pdf'
 ProgConcurrente.zip
'Support_survivre_lune (1).docx'
 Support_survivre_lune.docx

Read CSV

In [39]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import datetime as dt

PrixCarburant = pd.read_csv("/Users/julie/Documents/Ecole Ahmed /ML/Projet/2022.csv")
data = PrixCarburant[PrixCarburant['nom']=='Gazole']

#afficher les dimensions de la table des données (propriété shape)
print(data.shape)
#afficher la liste des colonnes data.columns
print(data.columns)
#afficher la liste des colonnes et leurs types (propriété dtypes)
print(data.dtypes)
#afficher les 10 premières lignes avec data.head(10)
print(data.head(10))
#compter les valeurs nulles
print(data.isnull().sum())
#description des données
data.describe()

(1548593, 10)
Index(['prix_id', 'nom', 'id', 'maj', 'valeur', 'adresse', 'ville', 'latitude',
       'longitude', 'departement'],
      dtype='object')
prix_id          int64
nom             object
id             float64
maj             object
valeur         float64
adresse         object
ville           object
latitude       float64
longitude      float64
departement      int64
dtype: object
   prix_id     nom   id                  maj  valeur                adresse  \
0        1  Gazole  1.0  2022-01-03T08:44:18   1.572  596 AVENUE DE TREVOUX
1        2  Gazole  1.0  2022-01-05T10:08:11   1.560  596 AVENUE DE TREVOUX
2        3  Gazole  1.0  2022-01-10T10:09:08   1.603  596 AVENUE DE TREVOUX
3        4  Gazole  1.0  2022-01-17T12:34:42   1.616  596 AVENUE DE TREVOUX
4        5  Gazole  1.0  2022-01-17T12:34:44   1.616  596 AVENUE DE TREVOUX
5        6  Gazole  1.0  2022-01-17T12:34:45   1.616  596 AVENUE DE TREVOUX
6        7  Gazole  1.0  2022-01-21T09:46:30   1.652  596 AVENUE DE TREVOUX
7        8  Gazole  1.0  2022-01-25T08:25:26   1.643  596 AVENUE DE TREVOUX
8        9  Gazole  1.0  2022-01-28T10:21:42   1.643  596 AVENUE DE TREVOUX
9       10  Gazole  1.0  2022-01-28T10:21:43   1.643  596 AVENUE DE TREVOUX

                   ville   latitude  longitude  departement
0  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0            1
1  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0            1
2  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0            1
3  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0            1
4  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0            1
5  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0            1
6  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0            1
7  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0            1
8  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0            1
9  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0            1
prix_id        0
nom            0
id             0
maj            0
valeur         0
adresse        0
ville          0
latitude       0
longitude      0
departement    0
dtype: int64

,prix_id,id,valeur,latitude,longitude,departement
count,1.548593e+06,1548593.0,1.548593e+06,1.548593e+06,1.548593e+06,1.548593e+06
mean,2.514804e+06,1.0,1.872908e+00,4.683053e+06,2.627241e+05,5.097912e+01
std,1.456425e+06,0.0,1.695737e-01,2.246591e+05,2.768084e+05,2.685973e+01
min,1.000000e+00,1.0,1.000000e-03,4.139100e+06,-4.723000e+05,1.000000e+00
25%,1.243817e+06,1.0,1.755000e+00,4.488400e+06,7.140000e+04,3.000000e+01
50%,2.513222e+06,1.0,1.862000e+00,4.725100e+06,2.492000e+05,5.300000e+01
75%,3.765644e+06,1.0,1.979000e+00,4.878200e+06,4.858000e+05,7.500000e+01
max,5.048571e+06,1.0,9.999000e+00,5.106500e+06,9.547000e+05,9.500000e+01

In [36]:
Y = data.valeur
Y

X = data.drop(['valeur'], axis=1)
X

X.maj = pd.to_datetime(X.maj)
X.maj = X.maj.map(dt.datetime.toordinal)

X

X = X.apply(pd.to_numeric, errors='coerce')
Y = Y.apply(pd.to_numeric, errors='coerce')

X.fillna(0, inplace=True)
Y.fillna(0, inplace=True)
     
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

regressor = LinearRegression()

regressor.fit(X_train, Y_train)
Y_pred = regressor.predict(X_test)
print("#######Resultat########")
print('Prediction',Y_pred.mean())
print("#######Resultat########")
print('Prediction',Y_pred.mean())
print("#######Resultat########")
print('Coefficients:', regressor.coef_)
print('Intercept:', regressor.intercept_)
print('Mean squared error (MSE): %.2f'
      % mean_squared_error(Y_test, Y_pred))
print('Coefficient of determination (R^2): %.2f'
      % r2_score(Y_test, Y_pred))

#######Resultat########
Prediction 1.8680979822994626
#######Resultat########
Coefficients: [ 0.00000000e+00 -4.92496719e-19 -2.85453412e-19 -1.22331534e-05
  5.24447418e-09  5.21154387e-08  3.03935615e-04]
Intercept: 10.85377020763615
Mean squared error (MSE): 0.03
Coefficient of determination (R^2): 0.01