**Import library**

In [1]:
import pandas as pd

**Download file**

In [3]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# After executing the cell above, Drive
# files will be present in "/content/drive/My Drive".
!ls "/content/drive/My Drive"

 2021-21_M1C_MPSI-CC2_Vision.pptx
'2021-22_M1C_Etude_de_cas_Enonce (1).gdoc'
 2021-22_M1C_Etude_de_cas_Enonce.gdoc
 2021-22_M1C_Etude_de_cas_Enonce.pdf
 2021-22_M1C_MPSI-CC1_Perimetre.pptx
 2021-22_M1C_MPSI_Enonce_CC2.docx
 Archive.zip
 BurnupIncertainCC2.xlsx
 Burnup_Incertain.pptx
'Colab Notebooks'
 CorrectionDKP.py
'DDD Impact in software development.odt'
'Document sans titre (1).gdoc'
'Document sans titre (2).gdoc'
'Document sans titre.gdoc'
 DonnéePrixCarburant.csv
'English back up exam Rayhane Jebbari.gdoc'
'English back up exam Rayhane Jebbari.pdf'
 Entreprise.gdoc
 exo4.zip
 FSR_front.zip
 FSR.zip
 GRH.gdoc
 laravel_projet.zip
 Mémoire.gdoc
'PESTEL RayhaneJEBBARI (1).pdf'
'PESTEL RayhaneJEBBARI.pdf'
 ProgConcurrente.zip
'Support_survivre_lune (1).docx'
 Support_survivre_lune.docx

Read CSV

In [73]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import datetime as dt
import numpy as np

PrixCarburant = pd.read_csv("/Users/julie/Documents/Ecole Ahmed /ML/Projet/2022.csv")
data = PrixCarburant.loc[PrixCarburant['nom'] == 'Gazole']

#Supprimer moi les data avec valeur < 1
data = data.loc[data['valeur'] > 1]
#Supprimer moi les data avec valeur < 1
data = data.loc[data['valeur'] < 3.50]
#afficher les dimensions de la table des données (propriété shape)
print(data.shape)
#afficher la liste des colonnes data.columns
print(data.columns)
#afficher la liste des colonnes et leurs types (propriété dtypes)
print(data.dtypes)
#afficher les 10 premières lignes avec data.head(10)
print(data.head(10))
#compter les valeurs nulles
print(data.isnull().sum())
#description des données
data.describe()

(1548135, 10)
Index(['prix_id', 'pdv_id', 'nom', 'maj', 'valeur', 'adresse', 'ville',
       'latitude', 'longitude', 'departement'],
      dtype='object')
prix_id          int64
pdv_id           int64
nom             object
maj             object
valeur         float64
adresse         object
ville           object
latitude       float64
longitude      float64
departement      int64
dtype: object
   prix_id  pdv_id     nom                  maj  valeur  \
0        1       1  Gazole  2022-01-03T08:44:18   1.572
1        2       1  Gazole  2022-01-05T10:08:11   1.560
2        3       1  Gazole  2022-01-10T10:09:08   1.603
3        4       1  Gazole  2022-01-17T12:34:42   1.616
4        5       1  Gazole  2022-01-17T12:34:44   1.616
5        6       1  Gazole  2022-01-17T12:34:45   1.616
6        7       1  Gazole  2022-01-21T09:46:30   1.652
7        8       1  Gazole  2022-01-25T08:25:26   1.643
8        9       1  Gazole  2022-01-28T10:21:42   1.643
9       10       1  Gazole  2022-01-28T10:21:43   1.643

                 adresse                  ville   latitude  longitude  \
0  596 AVENUE DE TREVOUX  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0
1  596 AVENUE DE TREVOUX  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0
2  596 AVENUE DE TREVOUX  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0
3  596 AVENUE DE TREVOUX  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0
4  596 AVENUE DE TREVOUX  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0
5  596 AVENUE DE TREVOUX  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0
6  596 AVENUE DE TREVOUX  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0
7  596 AVENUE DE TREVOUX  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0
8  596 AVENUE DE TREVOUX  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0
9  596 AVENUE DE TREVOUX  SAINT-DENIS-LèS-BOURG  4620100.0   519800.0

   departement
0            1
1            1
2            1
3            1
4            1
5            1
6            1
7            1
8            1
9            1
prix_id        0
pdv_id         0
nom            0
maj            0
valeur         0
adresse        0
ville          0
latitude       0
longitude      0
departement    0
dtype: int64

,prix_id,pdv_id,valeur,latitude,longitude,departement
count,1.548135e+06,1.548135e+06,1.548135e+06,1.548135e+06,1.548135e+06,1.548135e+06
mean,2.514839e+06,6.941821e+03,1.873000e+00,4.683056e+06,2.627329e+05,5.097980e+01
std,1.456432e+06,3.935400e+03,1.650533e-01,2.246599e+05,2.768000e+05,2.685983e+01
min,1.000000e+00,1.000000e+00,1.004000e+00,4.139100e+06,-4.723000e+05,1.000000e+00
25%,1.243828e+06,3.629000e+03,1.755000e+00,4.488400e+06,7.140000e+04,3.000000e+01
50%,2.513239e+06,6.926000e+03,1.862000e+00,4.725100e+06,2.492000e+05,5.300000e+01
75%,3.765658e+06,1.039200e+04,1.979000e+00,4.878200e+06,4.858000e+05,7.500000e+01
max,5.048571e+06,1.364300e+04,3.399000e+00,5.106500e+06,9.547000e+05,9.500000e+01

In [74]:
data.maj = pd.to_datetime(data.maj)
data.maj = data.maj.map(dt.datetime.toordinal)

Y = data.valeur.to_numpy()

X = data[['departement', 'maj']].to_numpy()


print(Y)
print(X)

[1.572 1.56  1.603 ... 1.796 1.799 1.81 ]
[[     1 738158]
 [     1 738160]
 [     1 738165]
 ...
 [    95 738516]
 [    95 738517]
 [    95 738519]]

In [78]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)


regressor = LinearRegression()

regressor.fit(X_train, Y_train)
Y_pred = regressor.predict(X_test)
print("#######Resultat########")
print('Prediction',Y_pred.mean())
print("#######Resultat########")
print('Prediction',Y_pred.mean())
print("#######Resultat########")
print('Coefficients:', regressor.coef_)
print('Intercept:', regressor.intercept_)
print('Mean squared error (MSE): %.2f'
      % mean_squared_error(Y_test, Y_pred))
print('Coefficient of determination (R^2): %.2f'
      % r2_score(Y_test, Y_pred))

#######Resultat########
Prediction 1.873046948039131
#######Resultat########
Prediction 1.873046948039131
#######Resultat########
Coefficients: [3.82273713e-04 1.26134639e-05]
Intercept: -7.459377443174928
Mean squared error (MSE): 0.03
Coefficient of determination (R^2): 0.00